<div class="container">


    <div class="row">
        <div class="col-4">
            <div id="addContactform">


                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="row pt-2">
                        <div class="col-6">
                            <h3>Add Contact</h3>
                        </div>
                        <div class="col-6 text-right">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="fill">
                                <mat-label> First Name:</mat-label>
                                <input matInput formControlName="firstName">
                                <mat-error *ngIf="f.firstName.invalid &&  (f.firstName.dirty || f.firstName.touched)">
                                    <div *ngIf="f.firstName.errors?.required"> First Name is required.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Last Name:</mat-label>
                                <input matInput formControlName="lastName">
                                <mat-error *ngIf="f.lastName.touched && f.lastName.invalid">
                                    <div *ngIf="f.lastName.errors?.required"> Last Name is required.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email">
                                <mat-error *ngIf="f.email.touched && f.email.invalid">
                                    <div *ngIf="f.email.errors?.required">Email is required.</div>
                                    <div *ngIf="f.email.errors?.email"> Please enter a valid email address</div>
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="fill">
                                <mat-label> Phone Number:</mat-label>
                                <input type="tel" matInput formControlName="phoneNumber">
                                <mat-error *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid">
                                    <div *ngIf="f.phoneNumber.errors?.required">Mobile Number is required.</div>
                                    <div *ngIf="f.phoneNumber.errors?.pattern">Please, Enter 10 digit Mobile Number.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <mat-label class="mr-3">Status:</mat-label>
                            <mat-radio-group formControlName="status" aria-label="Select an option">
                                <mat-radio-button checked=true value="Active">Active</mat-radio-button>
                                <mat-radio-button value="Inactive">Inactive</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-8">
            <div class="row pt-2">
                <div class="col-6">
                    <h3>Contact List:</h3>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef> Phone</th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button type="button" mat-raised-button color="accent" matTooltip="Edit"
                            (click)="openDialog(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button type="button" mat-raised-button color="accent" matTooltip="delete"
                            (click)="deleteContact(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

   <!--  <hr>

    <p>
        Form Value: {{ contactForm.value | json }}
    </p>


    <p>
        Form Status: {{ contactForm.status }}
    </p> -->
</div>